<!doctype html>
<html>
<head>
  <title>Lrama syntax diagrams</title>

  <style>
    <%= output.default_style %>
    h2 {
      color: #333333;
    }
    svg.railroad-diagram {
      background-color: white;
    }
    svg.railroad-diagram rect {
      stroke: #333333;
    }
    svg.railroad-diagram path {
      stroke: #333333;
    }
    svg.railroad-diagram .terminal rect {
      fill: hsl(190, 100%, 83%);
    }
    svg.railroad-diagram .non-terminal rect {
      fill: hsl(223, 100%, 83%);
    }
  </style>

</head>

<body>
  <%= output.diagrams %>
</body>
